<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.robotsafebox.dao.GroupMemberMapper" >
  <resultMap id="BaseResultMap" type="com.robotsafebox.entity.GroupMember" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="join_date" property="joinDate" jdbcType="DATE" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, user_id, join_date, type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ich_group_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ich_group_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.robotsafebox.entity.GroupMember" >
    insert into ich_group_member (id, group_id, user_id, 
      join_date, type, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{joinDate,jdbcType=DATE}, #{type,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id" parameterType="com.robotsafebox.entity.GroupMember" >
    insert into ich_group_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="joinDate != null" >
        join_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="joinDate != null" >
        #{joinDate,jdbcType=DATE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.robotsafebox.entity.GroupMember" >
    update ich_group_member
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="joinDate != null" >
        join_date = #{joinDate,jdbcType=DATE},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.robotsafebox.entity.GroupMember" >
    update ich_group_member
    set group_id = #{groupId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      join_date = #{joinDate,jdbcType=DATE},
      type = #{type,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--new add-->
  <select id="selectGroupMemberByGroupId" resultType="java.util.HashMap" parameterType="java.lang.Long">
    select
    u.id userId,u.name userName,u.head userHead,u.phone userPhone, gm.join_date joinDate
    from ich_group_member gm
    LEFT JOIN ich_user u ON gm.user_id=u.id
    where gm.group_id=#{groupId,jdbcType=BIGINT}
  </select>

  <select id="selectGroupMemberByGroupIdAndUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from ich_group_member
    where group_id = #{groupId,jdbcType=BIGINT}
    AND user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteGroupMemberByGroupId" parameterType="java.lang.Long" >
    delete from ich_group_member
    where group_id = #{groupId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteGroupMemberByGroupIdAndUserId" parameterType="java.lang.Long" >
    delete from ich_group_member
    where group_id = #{groupId,jdbcType=BIGINT}
    AND user_id = #{userId,jdbcType=BIGINT}
  </delete>

</mapper>